@import url('https://fonts.googleapis.com/css?family=Pacifico|Raleway:300,400,700,900');

:root{
	--main-color: #262626;
	--reverse-color: #ffffff;
}

body{
	font: 300 17px/1.6 'Raleway', sans-serif;
	color: var(--main-color);
}

/* Layout */
.ba-container{
	padding-left: 15px;
	padding-right: 15px;
	max-width: 1200px;
}

*:focus{
	outline: 1px dotted fuchsia;
}

/* Typography */
h2 {
	font-size: 90px;
	font-weight: 700;
	color: var(--reverse-color);
}

a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
	border: 0;
	text-transform: uppercase;
	height: 55px;
	line-height: 55px;
	padding: 0 25px;
	color: var(--reverse-color);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{
	background-color: #ccc;
	color: var(--main-color);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
button:focus,
.ba-button:focus,
select:focus {
	/* outline: 1px dotted fuchsia; */
}
textarea {

}

.ba-section {
	
}

.ba-intro {
	background: var(--reverse-color) url('../img/bg.jpg') 50%;
	background-size: cover;
}

.ba-intro__header {
	background: linear-gradient(to bottom, rgba(255,255,255,.9) 70%,rgba(255,255,255,0) 100%);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	padding-top: 50px;
	z-index: 100;
}

.ba-logo > img {
	display: block;
}

.ba-nav {
	padding-top: 12px;
}

.ba-menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

.ba-menu li {
	display: inline-block;	
}

.ba-menu li:not(:first-child) {
	padding-left: 35px;
} 

.ba-menu a {
	color: #262626;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px; 
	font-weight: 700;
	text-align: right;
}

.ba-menu a:hover {
	padding-top: 3px;
	box-shadow: 0 -3px 0 #ff6033;
	transition: box-shadow .2s ease-in
}

.ba-intro__body {
/*	padding-top: 235px;
	padding-bottom: 395px;*/
	position: relative;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
}

.ba-intro__descritpion{
	max-width: 370px;
}

.ba-intro__button {
	background-color: #ff6033;
}

.ba-header__title {
	margin: 0;
	font-size: 60px;
	font-weight: 800;
}

.ba-header__subtitle {
	margin: 0;
	padding-bottom: 27px;
}

.ba-scroll {
	position: absolute;
	
	bottom: 65px;
	left: 50%;
	width: 24px;
	height: 40px;
	margin-left: -12px;
	background: url('../img/scroll.svg');
}

.ba-about-us{
	background-color: #00c4c4;
	background: -webkit-radial-gradient(circle farthest-side at 50%, rgba(0, 196, 196, 0.9) 0%, rgba(0, 183, 183, 0.9) 31%, rgba(0, 173, 173, 0.9) 67%, rgba(0, 156, 156, 0.9) 100%);
	background: -moz-radial-gradient(circle farthest-side at 50%, rgba(0, 196, 196, 0.9) 0%, rgba(0, 183, 183, 0.9) 31%, rgba(0, 173, 173, 0.9) 67%, rgba(0, 156, 156, 0.9) 100%);
	background: -o-radial-gradient(circle farthest-side at 50%, rgba(0, 196, 196, 0.9) 0%, rgba(0, 183, 183, 0.9) 31%, rgba(0, 173, 173, 0.9) 67%, rgba(0, 156, 156, 0.9) 100%);
	background: -ms-radial-gradient(circle farthest-side at 50%, rgba(0, 196, 196, 0.9) 0%, rgba(0, 183, 183, 0.9) 31%, rgba(0, 173, 173, 0.9) 67%, rgba(0, 156, 156, 0.9) 100%);
	background: radial-gradient(circle farthest-side at 50%, rgba(0, 196, 196, 0.9) 0%, rgba(0, 183, 183, 0.9) 31%, rgba(0, 173, 173, 0.9) 67%, rgba(0, 156, 156, 0.9) 100%);

	color: var(--reverse-color);

}

.ba-about-us__content{
	padding: 135px 0 100px 100px;	
}

.ba-about-us__title{
	margin: 0 0 7px;	
}

.ba-about-us img {
	padding-top: 70px;
}

.ba-about-us__content p {
	margin: 0 0 15px;
}

.ba-our-services {
	background-color: #70bfff;
}
.ba-our-services__title {
	background: url(../img/tomato.png) center center no-repeat;
	background-size: ;
	padding: 220px 0 220px 24px;
	margin: 0;
}

.ba-our-services__list{
	list-style: none;
	padding-left: 100px;
	padding-top: 80px;
}

.ba-our-services__item{
	max-width: 400px;	
	font-size: 0;
	background-color: var(--reverse-color);
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);	
}

.ba-our-services__item:not(:last-child){
	margin-bottom: 20px;
}

.ba-item__title{
	font-size: 20px;
	padding: 0 30px;
	display: inline-block;
	width: calc(100% - 100px);
	vertical-align: middle;
	margin: 0;
	text-align: center;
	
}
.ba-item__icon{
	display: inline-block;
	height: 100px;
	width: 100px;
	vertical-align: middle;
	border-left: 1px solid #9d9d9d;

	background-position: 50%;
	background-repeat: no-repeat;
}

.ba-item__icon--cart{
	background-image: url(../img/cart.svg);
}

.ba-item__icon--quality{
	background-image: url(../img/quality.svg);
}

.ba-item__icon--delivery{
	background-image: url(../img/delivery.svg);
}

.ba-item__icon--carrot{
	background-image: url(../img/carrot.svg);
}

