@import url('https://fonts.googleapis.com/css?family=Pacifico|Raleway:300,400,700,900');

:root{
	--main-color: #262626;
	--reverse-color: #ffffff;
}

body{
	font: 300 17px/1.6 'Raleway', sans-serif;
	color: var(--main-color);
}

/* Layout */
.ba-container{
	padding-left: 15px;
	padding-right: 15px;
	max-width: 1200px;
}

*:focus{
	outline: 1px dotted fuchsia;
}


/* Typography */
h1,h2,h3,h4,h5,h6 {
	line-height: 1.2;
	margin-top: 0;
}

h2 {
	font-size: 90px;
	font-weight: 700;
	color: var(--reverse-color);
}
a {
	text-decoration: none;
	font-size: 17px;
	color: var(--main-color);
}

a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	cursor: pointer;
	font-size: 20px;
	display: inline-block;
	border: none;
	text-transform: uppercase;
	text-decoration: none;
	height: 55px;
	line-height: 55px;
	padding: 0 25px;
	color: var(--reverse-color);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{
	background-color: #ccc;
	color: var(--main-color);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	
	color: #ffffff;
	font-size: 15px;
	font-weight: 300;
	border: 0;

}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
button:focus,
.ba-button:focus,
select:focus {
	/* outline: 1px dotted fuchsia; */
}
textarea {

}

/* HOME section */

.ba-home {
	background: var(--reverse-color) url('../img/bg.jpg') 50%;
	background-size: cover;
}

.ba-home__header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	padding-top: 50px;
	padding-bottom: 20px;
	z-index: 10;
	background: linear-gradient(to bottom, rgba(255,255,255,.9) 70%,rgba(255,255,255,0) 100%);
}

.ba-logo {
	display: inline-block;
}

.ba-logo > img {
	display: block;
}

.ba-nav {
	padding-top: 12px;
}

.ba-menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

.ba-menu li {
	display: inline-block;	
}

.ba-menu li:not(:first-child) {
	padding-left: 33px;
} 

.ba-menu a {
	color: #262626;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px; 
	font-weight: 700;
	text-align: right;
}

.ba-menu a:hover {
	padding-top: 3px;
	box-shadow: 0 -3px 0 #ff6033;
	transition: box-shadow .2s ease-in
}

.ba-home__body {
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/*align-items: center;*/
}

.ba-home__description{
	max-width: 370px;
}

.ba-home__button {
	background-color: #ff6033;
}

.ba-home__title {
	margin: 0 0 12px;
	font-size: 60px;
	font-weight: 800;
}

.ba-home__subtitle {
	margin: 0;
	padding-bottom: 28px;
}

.ba-scroll {
	position: absolute;
	bottom: 69px;
	left: 50%;
	width: 24px;
	height: 40px;
	margin-left: -12px;
	background: url('../img/scroll.svg');
}

.ba-scroll:hover{
	transform: translateY(-7px);
	opacity .8;
	transition: transform .4s;
}

/* ABOUT section */

.ba-about {
	background-color: #00c4c4;
	background: -webkit-radial-gradient(circle farthest-side at 50%, rgba(0, 196, 196, 0.9) 0%, rgba(0, 183, 183, 0.9) 31%, rgba(0, 173, 173, 0.9) 67%, rgba(0, 156, 156, 0.9) 100%);
	background: -moz-radial-gradient(circle farthest-side at 50%, rgba(0, 196, 196, 0.9) 0%, rgba(0, 183, 183, 0.9) 31%, rgba(0, 173, 173, 0.9) 67%, rgba(0, 156, 156, 0.9) 100%);
	background: -o-radial-gradient(circle farthest-side at 50%, rgba(0, 196, 196, 0.9) 0%, rgba(0, 183, 183, 0.9) 31%, rgba(0, 173, 173, 0.9) 67%, rgba(0, 156, 156, 0.9) 100%);
	background: -ms-radial-gradient(circle farthest-side at 50%, rgba(0, 196, 196, 0.9) 0%, rgba(0, 183, 183, 0.9) 31%, rgba(0, 173, 173, 0.9) 67%, rgba(0, 156, 156, 0.9) 100%);
	background: radial-gradient(circle farthest-side at 50%, rgba(0, 196, 196, 0.9) 0%, rgba(0, 183, 183, 0.9) 31%, rgba(0, 173, 173, 0.9) 67%, rgba(0, 156, 156, 0.9) 100%);
	color: var(--reverse-color);
}

.ba-about__content{
	padding: 160px 0 207px 70px;	
}

.ba-about__title{
	margin: 0 0 5px;	
}

.ba-about img {
	padding-top: 70px;
}

.ba-about__content p {
	margin: 0 0 15px;
}


/* SERVICES section */

.ba-services {
	background-color: #70bfff;
	padding: 100px 0 135px;
}
.ba-services__title {
	background: url(../img/tomato.png) center center no-repeat;
	background-size: ;
	padding: 210px 0 210px 24px;
	margin: 0;
}

.ba-services__list{
	list-style: none;
	padding-left: 100px;
	padding-top: 60px;
}

.ba-services__item{
	max-width: 400px;	
	font-size: 0;
	background-color: var(--reverse-color);
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);	
}

.ba-services__item:not(:last-child){
	margin-bottom: 20px;
}

.ba-item__title{
	font-size: 20px;
	padding: 0 30px;
	display: inline-block;
	width: calc(100% - 100px);
	vertical-align: middle;
	margin: 0;
	text-align: center;
	
}
.ba-item__icon{
	display: inline-block;
	height: 100px;
	width: 100px;
	vertical-align: middle;
	border-left: 1px solid #9d9d9d;

	background-position: 50%;
	background-repeat: no-repeat;
}

.ba-item__icon--cart{
	background-image: url(../img/cart.svg);
}

.ba-item__icon--quality{
	background-image: url(../img/quality.svg);
}

.ba-item__icon--delivery{
	background-image: url(../img/delivery.svg);
}

.ba-item__icon--carrot{
	background-image: url(../img/carrot.svg);
}

/* GALLERY section */

.ba-gallery img {
	display: block;
	box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.5);
}

.ba-gallery a:hover img {
	filter: grayscale(100%);
}

.ba-gallery {
	background-color: #ffe92f;	
	padding: 40px 0 100px;
}

.ba-gallery__content {
	max-width: 630px;
	margin: 0 auto;
	padding: 40px 15px;
}

.ba-gallery__content p:last-child {
	margin-bottom: 0;
}

.ba-gallery__title {
	margin-top: 0;
	margin-bottom: 10px;
	color: currentColor;
}

.ba-gallery__button {
	background-color: #5585a2;
	margin-top: 53px;
	margin-bottom: 20px;
}

/*@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
.plate-img {
	animation: spin 5s linear 0s infinite;
}*/


/* SUBSCRIBE section */
.ba-subscribe {
	background: #fff url('../img/bg-subscribe.png') 100% 0 no-repeat;
	padding: 135px 0 160px;
}

.ba-subscribe__content {
	max-width: 570px;
	padding-bottom: 10px;
}

.ba-subscribe__header {
	font-size: 40px;
	margin-bottom: 10px;	
}

.ba-subscribe input {
	border: 1px solid var(--main-color);
	color: currentColor;
	padding: 0 20px;
	min-width: 570px;
	height: 55px;
	line-height: 55px;
}

.ba-subscribe__button {
	background-color:  #96b92c;
	margin-left: 30px;
}


/* BLOG section */
.ba-blog {
	background-color:  #b07cf7;
	padding: 40px 0 120px;
}

.ba-blog__content {
	max-width: 630px;
	margin: 0 auto;
	padding: 40px 15px;
}

.ba-blog__title {
	margin: 0;
	padding-bottom: 20px;
}

.ba-blog p {
	color: var(--reverse-color);
	margin: 0;
}

.ba-blog__button {
	background-color:  #f72b3b;
	margin-top: 50px;
}

.ba-blog__article {
	position: relative;	
	overflow: hidden;
}

.ba-blog__article img {
	position: relative;
	display: block;	
}

.ba-blog__article:hover img {
	transform: scale(1.1);
	filter: blur(5px);
}

time {
	border-radius: 5px;
	background-color: rgba(38, 38, 38, 0.5);
	width: 60px;
	height: 60px;
	position: absolute;
	top: 30px;
	left: 30px;
	
	text-transform: uppercase;
	color: var(--reverse-color);
	
	line-height: 0.7;
	font-size: 32px;
	font-weight: 700;
	
	padding: 5px;
	text-align: center;

}

time span {
	font-size: 21px;
}

.ba-shadow {
	background: linear-gradient(360deg, black, transparent);
	opacity: 0.9;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 18px 20px;
}



.ba-shadow h6 {
	margin: 0;
	text-align: left;
	color: #ffffff;
	font-size: 20px; 
	font-weight: 700;
	line-height: 25px; 
	padding-bottom: 10px;
}


.ba-shadow p{

	color: #ffffff;
	font-size: 13px; 
	font-weight: 300;
	line-height: 25px; 

}


/* contact section */
.ba-contact {
	background: #ccc url('../img/contacts-bg.png') center no-repeat;
	background-size: cover;
	padding: 40px 0 120px;
}

.ba-contact__content {
	max-width: 400px;
	margin: 0 auto;
	padding: 40px 15px 9px;
}

.ba-contact__title{
	color: currentColor;
	margin-bottom: 10px;
}

.ba-contact__button {
	background-color:  #00c4c4;
	margin-top: 40px;
}

.ba-contact__form input {
	background-color: rgba(0, 196, 196, 0.5);
	min-width: 500px;
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
}

.ba-contact__form input::placeholder,
.ba-contact__form textarea::placeholder {
	color: #FFF;
}

.ba-contact__form textarea {
	background-color: rgba(0, 196, 196, 0.5);
	min-width: 500px;
	resize: none;
	padding: 20px;
}

.ba-contact__form input:focus,
.ba-contact__form textarea:focus {
	font-weight: 700;
	background-color:  #00c4c4;
	border-left:  5px solid #355b82;
	outline: none;
	transition: .3s;
}

.ba-address {
	padding-top: 10px;
	padding-left: 70px;
	font-style: normal;
}

.ba-address p {
	font-size: 17px;
	font-weight: 700;
	margin: 5px 0 0;
	line-height: 1.2;
}

.ba-address span {
	font-size: 20px;
	font-weight: 300;
}



/* footer section */
.ba-footer {
	background-color: var(--main-color);
	padding: 32px 0;
}

.ba-footer__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #b9b9b9;
	font-size: 15px;
	font-weight: 300;
}

.ba-footer-link {
	color:  #ff2b58;
	font-size: 15px;
}







