@import url('https://fonts.googleapis.com/css?family=Pacifico|Raleway:300,400,700,900');
body{
	font: 300 17px/1.6 'Raleway', sans-serif;
	color: #262626;
}

/* Layout */
.ba-container{
	padding-left: 15px;
	padding-right: 15px;
	max-width: 1200px;
}

*:focus{
	outline: 1px dotted fuchsia;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
	border: 0;
	text-transform: uppercase;
	height: 55px;
	line-height: 55px;
	padding: 0 25px;
	color: #ffffff;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{
	background-color: #ccc;
	color: #000;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
button:focus,
.ba-button:focus,
select:focus {
	// outline: 1px dotted fuchsia;
}
textarea {

}

.ba-intro {
	padding: 50px 0 0;
	background: #fff url('../img/bg.jpg') 100% 0;
	background-size: cover;
}

.ba-intro__header {
	padding-bottom: 235px;
}

.ba-logo {
	float: left;
}

.ba-logo > img {
	display: block;
}

.ba-nav {
	float: right;
	padding-top: 12px;
}

.ba-menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

.ba-menu li {
	display: inline-block;	
}

.ba-menu li:not(:first-child) {
	padding-left: 35px;
} 

.ba-menu a {
	color: #262626;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px; 
	font-weight: 700;
	text-align: right;
}

.ba-menu a:hover {
	padding-top: 3px;
	box-shadow: 0 -3px 0 #ff6033;
	transition: box-shadow .2s ease-in
}

.ba-intro__body {
	padding-bottom: 395px;
	position: relative;
}

.ba-intro__descritpion{
	max-width: 370px;
}

.ba-intro__button {
	background-color: #ff6033;
}

.ba-header__title {
	margin: 0;
	font-size: 60px;
	font-weight: 800;
}

.ba-header__subtitle {
	margin: 0;
	padding-bottom: 27px;
}

.ba-scroll {
	position: absolute;
	
	bottom: 65px;
	left: 50%;
	width: 24px;
	height: 40px;
	margin-left: -12px;
	background: url('../img/scroll.svg');
}

